@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Silkscreen:wght@400;700&display=swap');

body {
    font-family: 'Silkscreen', sans-serif;
    background: black;
}

h1 {
    text-align: center;
    margin-top: 128px;
    color: blue;
}

p {
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-button {
    margin: 12px;
    padding: 12px;
    background: #171717;
    color: white;
}